.profileImg{
    max-width: 300px;
    height: 350px;
}



.profileTxt {
    font-size: 17px;
}

.credentials {
    margin: 10px;
    line-height: 20px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    padding-top: 5px;
    padding-bottom: 9px;
    width: 100%;
    color: #2780e3;
    line-height: normal;
}

.line-break {
    width: 100%;
    height: 5px;
    margin-left: 20px;
    margin-right: 20px;
    float: left;
    color: rgb(143, 143, 143);
    padding-top: 3px;
    background-color: rgba(255,255,255,.5);
    border: none;
    border-bottom: 1px solid rgb(143, 143, 143);
} 

.edContainer {
    padding-top: 70px;
}

.schoolContainer {
    width: auto;

}

.item {
    margin: 10px;
    line-height: 20px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    line-height: normal;

}

.ed {
    align-items: center;
    padding-top: 70px;
}

.cred {
    padding-top: 80px;
}

.li{
    align-items: left;
}

.h1{
    color: #2780e3;

}

.p {
    font-size: 19px;
}

.expContainer {
    padding-top: 40px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.itemExp {
    margin: 10px;
    line-height: normal;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}

.linkContainer {
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}