body {
   background-color: rgb(238, 238, 238);
  }
.App {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  background-color: white;
  padding-top: 50px;
}

.headerPad{
  padding-bottom: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.NavFlex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.HomeImg{
  max-width: 100%;
  opacity: 0.3;
  position: relative;
}

.colorWhite {
  color: white;
  font-size: 20px;
}

.HomeDisplay{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-right: 20px;
  margin-left: 20px;
}
.Footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(228, 228, 228);
  margin-top: 50px;
}


.footerFont {
  color: white;
  font-size: 15px;
}

.homeBox{
  background-image: url("https://cdn.pixabay.com/photo/2018/03/13/22/12/coffee-3223862_960_720.jpg");
  opacity: 0.4;
  padding-left: 70px;
  padding-right: 70px;
  margin-left: 20px;
  margin-right: 20px;
}


#contact-form{
  margin-left: 20px;
}

.contactContainer{
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}

.contactName {
  margin-right: 100px;
}

.contactTitle {
  display: flex;
  justify-content: flex-start;
}

.contactImage{
  max-width: 210px;
  max-height: auto;
}

.contactIcon{
  max-width: 30px;
  max-height: 30px;
}

.contactContainerLi{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contactContainer2 {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  width: 400px;
  padding-top: 50px;
}

.ContactDisplay{
  display: flex;
  justify-content: space-around;
  background-color: rgb(239, 239, 250);
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: 'Pangolin', cursive;
}


div.transbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 2em;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.coursesContainer{
  position: relative;
  text-align: center;
  color: rgb(2, 2, 94);
}

.coursesImage{
  max-width: 100%;
  height: auto;
  opacity: 0.5;
}

.wrapper {
  position: relative;
  
}
.overlayer {
  height: 270px;
}

@media screen and (min-width: 48em) {
  .wrapper:before {
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 0 15px 15px;
  }
  .overlayer {
    position: absolute;
    top: 30%;
    margin-right: 150px;
    margin-left: 150px;
    width: auto;
  }
}
.phoneNum{
  max-width: 300px;
  max-height: 35px;
}

.downloadColor{
  color: rgb(22, 91, 168);
}

.homeh2{
  font-size: 50px;
}

.homeh3{
  font-size: 30px;
}

.classesBox{
  background-color: rgb(41, 41, 41, 0.8);
  margin-right: 46px;
  margin-left: 46px;
  margin-top: 20px;
  margin-bottom: 50px;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-right: 25px;
  padding-left: 25px;
}

.classesText{
  color: white;
  font-size: 25px;
}

.topText{
  color: rgb(22, 91, 168);
  padding-top: 35px;
}

.classesFlex{
  display: flex;
  justify-content: space-around;
  width: 150px;
}

.classesButton{
  background-color: rgb(22, 91, 168);
  border-radius: 25px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  padding-left: 12px;
}
.semesterText{
  color: rgba(255, 255, 255, 0.651);
}

.coursesBody{
  background-color: rgb(41, 41, 41, 0.1);
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 50px;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-right: 20px;
  padding-left: 20px;
}

.coursesText{
  color: black;
  font-size: 25px;
}

.coursesText2{
  text-align: left;
  margin-right: 60px;
  margin-left: 60px;
}

.bigFont {
  font-size: 35px;;
}

.textsStyle {
  align-items: left;
}

.btnFlex{
  display: flex;
  justify-content: space-around;
}

.btnStyle {
  display: block;
  width: 320px;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 0;
  overflow: hidden;
  position: relative;
  transform: translatez(0);
  text-decoration: none;
  box-sizing: border-box;
  font-size: 19px;
	font-weight: normal;
	box-shadow: 0 9px 18px rgba(0,0,0,0.2);
	text-align: center;
	border-radius: 50px;
  padding: 26px;
  color: white;
  background: #4d79ff;
  transition: all 0.2s ease-out 0s;

}

.btnTop{
  width: 300px;
  height: 80px;
  font-size: 20px;
}