body {
   background-color: rgb(238, 238, 238);
  }
.App {
  text-align: center;
  background-color: white;
  padding-top: 10px;
}

.headerPad{
  padding-bottom: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.show-read-more .more-text{
  display: none;
  width: 50%;
}


#read-more-link{
  color: blueviolet;
  text-decoration: underline;
  letter-spacing: 1px;
  cursor: pointer;
}


.NavFlex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.HomeImg{
  max-width: 100%;
  opacity: 0.3;
  position: relative;
}

.colorWhite {
  color: white;
}

.HomeDisplay{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-right: 20px;
  margin-left: 20px;
}
.Footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
  margin-top: 30px;
}


.footerFont {
  color: white;
  font-size: 15px;
}

.homeBox{
  background-image: url("https://cdn.pixabay.com/photo/2018/03/13/22/12/coffee-3223862_960_720.jpg");
  opacity: 0.4;
  padding-left: 70px;
  padding-right: 70px;
  margin-left: 20px;
  margin-right: 20px;
}


#contact-form{
  margin-left: 20px;
}

.contactContainer{
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;

}

.contactName {
  margin-right: 50px;
}

.contactTitle {
  display: flex;
  justify-content: flex-start;
}

.contactImage{
  max-width: 210px;
  max-height: auto;
}

.contactIcon{
  max-width: 30px;
  max-height: 30px;
}

.contactContainerLi{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contactContainer2 {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  width: 360px;
  padding-top: 50px;
}

.ContactDisplay{
  display: flex;
  justify-content: space-around;
  background-color: rgb(239, 239, 250);
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 50px;
  align-items: baseline;
  /*font-family: 'Pangolin', cursive;*/
}


div.transbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 2em;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.coursesContainer{
  position: relative;
  text-align: center;
  color: rgb(2, 2, 94);
}

.coursesImage{
  max-width: 100%;
  height: auto;
  opacity: 0.5;
}

.wrapper {
  position: relative;
  
}
.overlayer {
  height: 120px;
}

@media screen and (min-width: 48em) {
  .wrapper:before {
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 0 15px 15px;
  }
  .overlayer {
    position: absolute;
    top: 30%;
    margin-right: 150px;
    margin-left: 150px;
    width: auto;
  }
}
.phoneNum{
  max-width: 300px;
  max-height: 35px;
}

.downloadColor{
  color: rgb(22, 91, 168);
}

.homeh2{
  font-size: 50px;
}

.homeh3{
  font-size: 30px;
}

.classesBox{
  background-color: rgba(252, 251, 255, 0.8);
  box-shadow: 0px 8px 36px #222;
  margin: 40px;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-right: 15px;
  padding-left: 15px;
}

.classesText{
  color: black;
}

.topText{
  color: rgb(22, 91, 168);
  padding-top: 35px;
}

.classesFlex{
  display: flex;
  justify-content: space-around;
  width: 150px;
}


.semesterText{
  color: rgba(10, 10, 10, 0.651);
}

.coursesBody{
  background-color: rgba(230, 230, 230, 0.1);
  box-shadow: 0px 8px 36px #222;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 50px;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-right: 20px;
  padding-left: 20px;
}

.coursesText{
  color: black;
  font-size: 25px;
}

.coursesText2{
  text-align: left;
  margin-right: 20px;
  margin-left: 20px;
}

.bigFont {
  font-size: 35px;;
}

.textsStyle {
  align-items: left;
}
.imgContainer{
  position: relative;
  text-align: center;
}
.btnFlex{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}



.btnTop{
  width: 300px;
  height: 80px;
  font-size: 20px;
}

.listItems{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.blue{
  color: #4d79ff;
  padding-bottom: 30px;
}
.white{
  color: white
}
.blue2{
  color: #4d79ff;
}
.black{
  color: black;
}
.download{
  max-width: 50px;
  max-height: 150px;
}
.downloadBox{
  display: flex;
  flex-direction: row;
  padding-top: 25px;
  padding-bottom: 25px;
  align-items: baseline;
  justify-content: space-around;
}

.bookFlex{
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.responsiveText{
  font-size:5vw;
}

.responsiveText3{
  font-size: 3vw;
}

.responsiveText2{
  font-size: 4vw;
}

@media only screen and (max-width: 48em) {
  h1{
    font-size: 5vw;
  }
  h2{
    font-size: 4.25vw;
  }
  h3{
    font-size: 3.75vw;
  }
  h4{
    font-size: 3vw;
  }
  h5{
    font-size: 3vw;
  }
  .classesBox{
    background-color: rgba(252, 251, 255, 0.8);
    box-shadow: 0px 8px 36px #222;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .more{
    margin: 15px;
  }

}

.fancy-font {
  font: 8.5vw 'Arizonia', Helvetica, sans-serif;
  color: #DAA520;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1); 
}

button[id="button"] {
  border: none;
  background: #404040;
  color: #ffffff !important;
  font-weight: 100;
  padding: 10px;
  margin: 5px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  width: 270px;
}

button[id="button_book"] {
  border: none;
  background: #404040;
  color: #ffffff !important;
  font-weight: 100;
  padding: 10px;
  margin: 5px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  width: 140px;
  font-size: 10px;
}
button[id="button_book"]:hover {
  color: #404040 !important;
  font-weight: 400 !important;
  font-size: 9px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.3s ease 0s;
}

button[id="bigger_button"] {
  border: none;
  background: #404040;
  color: #ffffff !important;
  font-weight: 100;
  padding: 10px;
  margin: 5px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  width: 270px;
  height: 60px;
}

button[id="button"]:hover {
  color: #404040 !important;
  font-weight: 400 !important;
  letter-spacing: 1px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.3s ease 0s;
}
button[id="button_hover"]:hover {
  color:  #4d79ff !important;
  font-weight: 400 !important;
  letter-spacing: 1px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.3s ease 0s;
}

button[id="button_hover"] {
  border: none;
  background-color: #4d79ff;
  color: #ffffff !important;
  font-weight: 100;
  padding: 10px;
  margin: 5px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

/* RESET RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
  --white: #afafaf;
  --red: #e31b23;
  --bodyColor: #292a2b;
  --borderFormEls: hsl(0, 0%, 10%);
  --bgFormEls: hsl(0, 0%, 14%);
  --bgFormElsFocus: hsl(0, 7%, 20%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

a {
  color: inherit;
}

input,
select,
textarea,
button {
  font-family: inherit;
  font-size: 100%;
}

button,
label {
  cursor: pointer;
}


/* Remove native arrow on IE */
select::-ms-expand {
  display: none;
}

/*Remove dotted outline from selected option on Firefox*/
/*https://stackoverflow.com/questions/3773430/remove-outline-from-select-box-in-ff/18853002#18853002*/
/*We use !important to override the color set for the select on line 99*/
select:-moz-focusring {
  color: transparent !important;
  text-shadow: 0 0 0 var(--white);
}

textarea {
  resize: none;
}

ul {
  list-style: none;
}


.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1.5rem;
}


/* FORM ELEMENTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.my-form h1 {
  margin-bottom: 1.5rem;
}

.my-form li,
.my-form .grid > *:not(:last-child) {
  margin-bottom: 1.5rem;
}

.my-form select,
.my-form input,
.my-form textarea,
.my-form button {
  width: 100%;
  line-height: 1.5;
  padding: 15px 10px;
  border: 1px solid var(--borderFormEls);
  color: var(--white);
  background: var(--bgFormEls);
  transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
    transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

.my-form textarea {
  height: 170px;
}

.my-form ::placeholder {
  color: inherit;
  /*Fix opacity issue on Firefox*/
  opacity: 1;
}

.my-form select:focus,
.my-form input:focus,
.my-form textarea:focus,
.my-form button:enabled:hover,
.my-form button:focus,
.my-form input[type="checkbox"]:focus + label {
  background: var(--bgFormElsFocus);
}

.my-form select:focus,
.my-form input:focus,
.my-form textarea:focus {
  transform: scale(1.02);
}

.my-form *:required,
.my-form select {
  background-repeat: no-repeat;
  background-position: center right 12px;
  background-size: 15px 15px;
}

.my-form *:required {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/asterisk.svg);  
}

.my-form select {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/down.svg);
}

.my-form *:disabled {
  cursor: default;
  filter: blur(2px);
}


/* FORM BTNS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.my-form .required-msg {
  display: none;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/asterisk.svg)
    no-repeat center left / 15px 15px;
  padding-left: 20px;
}

.my-form .btn-grid {
  position: relative;
  overflow: hidden;
  transition: filter 0.2s;
}

.my-form button {
  font-weight: bold;
}

.my-form button > * {
  display: inline-block;
  width: 100%;
  transition: transform 0.4s ease-in-out;
}

.my-form button .back {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-110%, -50%);
}

.my-form button:enabled:hover .back,
.my-form button:focus .back {
  transform: translate(-50%, -50%);
}

.my-form button:enabled:hover .front,
.my-form button:focus .front {
  transform: translateX(110%);
}


/* CUSTOM CHECKBOX
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.my-form input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

.my-form input[type="checkbox"] + label {
  position: relative;
  display: inline-block;
  padding-left: 2rem;
  transition: background 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

.my-form input[type="checkbox"] + label::before,
.my-form input[type="checkbox"] + label::after {
  content: '';
  position: absolute;
}

.my-form input[type="checkbox"] + label::before {
  left: 0;
  top: 6px;
  width: 18px;
  height: 18px;
  border: 2px solid var(--white);
}

.my-form input[type="checkbox"]:checked + label::before {
  background: var(--red);
}

.my-form input[type="checkbox"]:checked + label::after {
  left: 7px;
  top: 7px;
  width: 6px;
  height: 14px;
  border-bottom: 2px solid var(--white);
  border-right: 2px solid var(--white);
  transform: rotate(45deg);
}





/* MQ
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (min-width: 600px) {
  .my-form .grid {
    display: grid;
    grid-gap: 1.5rem;
  }

  .my-form .grid-2 {
    grid-template-columns: 1fr 1fr;
  }

  .my-form .grid-3 {
    grid-template-columns: auto auto auto;
    align-items: center;
  }

  .my-form .grid > *:not(:last-child) {
    margin-bottom: 0;
  }

  .my-form .required-msg {
    display: block;
  }
}

@media screen and (min-width: 541px) {
  .my-form input[type="checkbox"] + label::before {
    top: 50%;
    transform: translateY(-50%);
  }

  .my-form input[type="checkbox"]:checked + label::after {
    top: 3px;
  }
}